<p>You have received a new message from your website contact form.</p>
<p>Name: <%= @message_details[:name] %></p>
<p>Email: <%= @message_details[:email] %></p>
<p>Phone: <%= @message_details[:phone] %></p>
<p>Message: <%= @message_details[:message] %></p>
